.title {
    display: flex;
    width: 80%;
    background-color: #ffeec0;
    position: absolute;
    left: 4.2vh;
    top: -3vh;
}
.title_text {
    font-size: 4vh;
    font-weight: 600;
  }
.mark {
    font-size: 2.5vh;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotate(-20deg) translate(3.8vh, -3vh);
}
.num {
    background-color: red;
    border-radius: 1vh;
    padding: 0.3vh;
    color: #fff;
  }
  .jiao {
    width: 0;
    height: 0;
    border-top: 1vh solid red;
    border-left: 1vh solid transparent;
    border-right: 1vh solid transparent;
  }
 .new {
    display: inline-block;
    font-size: 1.5vh;
    color: red;
    transform: rotate(-20deg) translate(1.5vh, -0.5vh);
  }
  .btn {
    width: 32vh;
    height: 6vh;
    color: #fff;
    text-align: center;
    line-height: 6vh;
    background-color: #0e4a8d;
    position: absolute;
    bottom: 1.5vh;
    border-radius: 3vh;
  }